{% extends 'base.html' %}

{% block body %}

<div>

    <h4>Historico de dados ANAC 2015-2019</h4>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>Sigla</th>
            <th>Num. Voo</th>
            <th>Status</th>
            <th>Tipo de Linha</th>
            <th>Data Prevista</th>
            <th>Origem</th>
            <th>Destino</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        {% for item in items %}

        <tr>
            <td>{{ item.pk }}
            <td>{{ item.sigla }}</td>
            <td>{{ item.numVoo }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.tipoLinha }}</td>
            <td>{{ item.data_prevista }}</td>
            <td>{{ item.origem }}</td>
            <td>{{ item.destino }}</td>

        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}